In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-06-10 17:11:09,42.6001,-73.9662,73.94,51,4,1.99
1,1,Glendive,US,2022-06-10 17:12:17,47.1053,-104.7125,70.18,72,75,10.36
2,2,Georgetown,MY,2022-06-10 17:09:50,5.4112,100.3354,80.53,83,20,0.00
3,3,Norman Wells,CA,2022-06-10 17:08:11,65.2820,-126.8329,53.96,56,100,10.89
4,4,Atuona,PF,2022-06-10 17:10:30,-9.8000,-139.0333,77.11,73,22,16.51

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent coudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [60]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-06-10 17:11:09,42.6001,-73.9662,73.94,51,4,1.99
1,1,Glendive,US,2022-06-10 17:12:17,47.1053,-104.7125,70.18,72,75,10.36
9,9,Mahebourg,MU,2022-06-10 17:10:59,-20.4081,57.7000,70.09,94,75,12.66
15,15,Ribeirao Bonito,BR,2022-06-10 17:12:22,-22.0667,-48.1761,73.76,70,73,9.35
16,16,Vao,NC,2022-06-10 17:12:22,-22.6667,167.4833,72.16,80,97,14.99
20,20,Souillac,MU,2022-06-10 17:12:28,-20.5167,57.5167,70.18,94,75,12.66
28,28,Rikitea,PF,2022-06-10 17:10:56,-23.1203,-134.9692,74.79,66,30,9.53
42,42,Emet,TR,2022-06-10 17:12:36,39.3430,29.2585,71.51,47,90,5.14
51,51,Naze,JP,2022-06-10 17:13:41,28.3667,129.4833,72.91,92,100,14.50
54,54,Bambous Virieux,MU,2022-06-10 17:13:42,-20.3428,57.7575,70.05,94,75,12.66

In [61]:
preferred_cities_df.count()

City_ID       67
City          67
Country       67
Date          67
Lat           67
Lng           67
Max Temp      67
Humidity      67
Cloudiness    67
Wind Speed    67
dtype: int64

In [62]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
0             Albany      US     73.94  42.6001  -73.9662
1           Glendive      US     70.18  47.1053 -104.7125
9          Mahebourg      MU     70.09 -20.4081   57.7000
15   Ribeirao Bonito      BR     73.76 -22.0667  -48.1761
16               Vao      NC     72.16 -22.6667  167.4833
..               ...     ...       ...      ...       ...        ...
501       San Felipe      VE     72.59  10.3399  -68.7425
505            Ndele      CF     70.83   8.4109   20.6473
506              Hun      LY     72.59  29.1268   15.9477
508             Tonj      SS     74.41   7.2737   28.6822
519           Bamboo      JM     71.80  18.3922  -77.2643

[67 rows x 6 columns]

In [63]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [72]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,73.94,42.6001,-73.9662,
1,Glendive,US,70.18,47.1053,-104.7125,Super 8 by Wyndham Glendive
9,Mahebourg,MU,70.09,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Ribeirao Bonito,BR,73.76,-22.0667,-48.1761,Hotel Pousada Veraneio
16,Vao,NC,72.16,-22.6667,167.4833,Hotel Kou-Bugny
20,Souillac,MU,70.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
28,Rikitea,PF,74.79,-23.1203,-134.9692,People ThankYou
42,Emet,TR,71.51,39.3430,29.2585,Emet Thermal Resort Spa
51,Naze,JP,72.91,28.3667,129.4833,Shishime Hotel
54,Bambous Virieux,MU,70.05,-20.3428,57.7575,Casa Tia Villa

In [75]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [78]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))